services:
  telegram-bot:
    build: .
    restart: always
    volumes:
      - ./links.txt:/app/links.txt:ro
    env_file:
      - .env
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - CHAT_ID=${CHAT_ID}
      - CHECK_INTERVAL_SECONDS=${CHECK_INTERVAL_SECONDS:-30}
